<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HotelApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HotelAppNotificationExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76174BC41DA7A693004BD00F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76174BD81DA7A693004BD00F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76174BE31DA7A693004BD00F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7658B4201DB2990A009F7788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
